* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#057333;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

header{
    display: flex;
    background-color: rgb(230, 81, 81);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer{
    background-color:rgb(230, 81, 81);
    color: white;
    padding: 6px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
}

.nav__links{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

.ul_footer{
    text-align: right;
    margin-right: 5px;
    display: flex;
    flex-direction: column-reverse;
 }
 
 nav a{
     font-weight: 500;
     padding-right: 10px;
 }
 
 .Titulo{
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }
 
