.DEPORTES{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding:200px ;
    background-color: $bgColor;
}

.ACTIVIDADES{
    display:flex;
    justify-content:center;
    justify-content:space-between;
    align-items:center;
    padding:100px;}

.SOCIOS{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:100px;}
